<div class="bg-base-300 h-screen absolute right-0 w-96 md:w-[700px]">
  <button
    (click)="dialogRef.close(false)"
    class="absolute top-2 right-5 btn btn-ghost text-primary z-50"
  >
    <i class="bx bx-window-close text-xl"></i>
  </button>
  <div class="bg-base-200 p-5 sticky top-0">
    <h3 class="text-xl">{{ data ? "Actulizar Marca" : "Crear Marca" }}</h3>
  </div>

  <!-- Formulario -->
  <div class="p-5 h-[calc(100vh_-_156px)] bg-base-100">
    <form [formGroup]="form" class="space-y-1">
      <div class="flex justify-end">
        <div class="bg-base-200 rounded-md py-2 w-[130px] text-center">
          <span class="font-bold">{{ fechaActual | date: "dd-MMM-yyyy" }}</span>
        </div>
      </div>

      <!-- Input Name -->
      <label class="form-control w-full">
        <div class="label">
          <span class="label-text">Nombre</span>
        </div>
        <input
          formControlName="name"
          type="text"
          placeholder="Type here"
          class="input input-bordered w-full input-primary"
        />
        @if (name.invalid && name.touched) {
          @for (error of name.errors | keyvalue; track $index) {
            <span class="label-text text-error font-bold">{{
              error | formerror: { minl: 3 }
            }}</span>
          }
        }
      </label>

      <!-- Input Monto -->
      <label class="form-control w-full">
        <div class="label">
          <span class="label-text">Monto</span>
        </div>
        <input
          formControlName="monto"
          type="number"
          placeholder="Type here"
          class="input input-bordered w-full input-primary"
        />
        @if (monto.invalid && monto.touched) {
          @for (error of monto.errors | keyvalue; track $index) {
            <span class="label-text text-error font-bold">{{
              error | formerror: { minl: 3 }
            }}</span>
          }
        }
      </label>

      <!-- Egreso -->
      <label class="form-control w-full">
        <div class="label">
          <span class="label-text">Typo de egreso</span>
        </div>
        <select
          formControlName="egreso"
          class="select select-bordered select-primary"
        >
          <option disabled selected>Seleccione uno</option>
          <option [value]="1">Ingreso</option>
          <option [value]="2">Gasto</option>
        </select>
      </label>
    </form>
    <!-- Input File -->
  </div>
  <div footer class="flex justify-end gap-4 p-5 bg-base-200 sticky bottom-0">
    <button (click)="dialogRef.close(false)" class="btn btn-outline btn-error">
      Cancelar
    </button>
    <button (click)="handleForm()" class="btn btn-primary">
      Guardar Cambios
    </button>
  </div>
</div>
