@if (config().show) {
  <app-alert [message]="config().message" [alert]="config().type" />
}

<div class="drawer 2xl:drawer-open">
  <input id="my-drawer" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content">
    <!-- Page content here -->
    <!-- NavBarComponent -->
    <div class="navbar bg-primary print:hidden mb-4">
      <div class="flex-1 space-x-4">
        <label class="flex items-center cursor-pointer gap-2 my-3">
          <i class="bx bx-brightness text-xl text-amber-500"></i>
          <input
            [formControl]="isDark"
            type="checkbox"
            value="synthwave"
            class="toggle theme-controller"
          />
          <i class="bx bxs-moon text-xl"></i>
        </label>
      </div>
      <div class="flex-none gap-2">
        <button
          routerLink="/auth/login"
          class="btn btn-outline outline-primary"
        >
          Login
        </button>
        <div class="dropdown dropdown-end">
          <div
            tabindex="0"
            role="button"
            class="btn btn-ghost btn-circle avatar"
          >
            <div class="w-10 rounded-full">
              <img
                alt="Tailwind CSS Navbar component"
                src="https://daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg"
              />
            </div>
          </div>
          <ul
            tabindex="0"
            class="mt-3 z-[1] p-2 text-base-content shadow menu menu-sm dropdown-content bg-base-300 rounded-box w-52"
          >
            <li class="">
              <a class="justify-between" routerLink="/admin/profile">
                Profile
                <span class="badge">New</span>
              </a>
            </li>
            <li><a>Settings</a></li>
            <li><a>Logout</a></li>
          </ul>
        </div>
        <label
          for="my-drawer"
          class="btn btn-ghost drawer-button text-primary text-xl 2xl:hidden rounded-full"
        >
          <i class="bx bx-menu-alt-left"></i>
        </label>
      </div>
    </div>
    <!-- NavBarComponent -->

    <!-- Main  -->
    <main class="container m-auto px-1">
      <div
        class="card bg-base-100 shadow-xl card-bordered print:-mt-5 print:shadow-none print:border-none print:p-0"
      >
        <div class="card-body">
          <router-outlet />
        </div>
      </div>
    </main>
    <!-- Main  -->
  </div>

  <!-- Drawer Component -->
  <div class="drawer-side print:hidden">
    <label
      for="my-drawer"
      aria-label="close sidebar"
      class="drawer-overlay"
    ></label>
    <!-- Sideber Imagen -->

    <div class="menu p-4 w-80 min-h-full bg-base-200 space-y-1">
      <div
        class="avatar flex flex-col gap-5 items-center justify-center pt-2 pb-8"
      >
        <div
          class="w-24 rounded-full ring ring-primary ring-offset-base-100 ring-offset-2"
        >
          <img
            src="https://i.blogs.es/2ff34d/spiderman-tobey-maguire/650_1200.jpeg"
          />
        </div>
        <h3>Admer Vásquez Usucvilca</h3>
      </div>
      <!-- Sidebar content here -->
      <ul>
        <li>
          <a routerLinkActive="active" routerLink="/admin/dashboard"
            >Dashboard</a
          >
        </li>

        <li>
          <details>
            <summary class="mb-2">Inventario</summary>
            <!-- LInks uno -->
            <ul class="space-y-1">
              @for (item of links; track $index) {
                <li>
                  <a routerLinkActive="active" [routerLink]="item.path">{{
                    item.name
                  }}</a>
                </li>
              }
            </ul>
          </details>
        </li>

        <li>
          <details>
            <summary class="mb-2">Usuarios</summary>
            <!-- LInks dos -->
            <ul class="space-y-1">
              @for (item of linkUsers; track $index) {
                <li>
                  <a routerLinkActive="active" [routerLink]="item.path">{{
                    item.name
                  }}</a>
                </li>
              }
            </ul>
          </details>
        </li>

        <li>
          <details>
            <summary class="mb-2">Ventas</summary>
            <!-- LInks dos -->
            <ul class="space-y-1">
              @for (item of linkVentas; track $index) {
                <li>
                  <a
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }"
                    [routerLink]="item.path"
                    >{{ item.name }}</a
                  >
                </li>
              }
            </ul>
          </details>
        </li>

        <li>
          <details>
            <summary class="mb-2">Proveedors</summary>
            <!-- LInks dos -->
            <ul class="space-y-1">
              @for (link of proveedors; track $index) {
                <li>
                  <a
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }"
                    [routerLink]="link.path"
                    >{{ link.name }}</a
                  >
                </li>
              }
            </ul>
          </details>
        </li>
      </ul>
    </div>
  </div>
  <!-- Drawer Component -->
</div>
