@if (unitStore.isLoading()) {
  <div
    class="transition-all fixed inset-0 w-screen h-screen flex items-center justify-center bg-black/50 z-[100]"
  >
    <span class="loading loading-infinity w-[100px] text-info"></span>
  </div>
  <!-- <progress
    class="progress w-full fixed top-0 left-0 right-0 progress-primary"
  ></progress> -->
}

<admin-title title="Unidades de Medida" (onClick)="openForm()">
  <label
    class="input input-bordered flex items-center gap-2 input-primary input-sm"
  >
    <input
      [formControl]="filter"
      type="text"
      class="grow"
      placeholder="Search"
    />
    <i class="bx bx-search-alt-2"></i>
  </label>
</admin-title>

<!-- *************************************** -->
<!-- ******** Table *********************** -->
<!-- *************************************** -->
<div class="overflow-x-auto">
  <table class="table table-zebra shadow-lg">
    <!-- head -->
    <thead class="sticky top-0 bg-base-300 text-base-content">
      <tr>
        <th></th>
        <th>Name</th>
        <th>Symbol</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <!-- row 1 -->
      @for (unit of unitStore.units(); track $index) {
        <tr>
          <th>{{ $index + 1 }}</th>
          <td
            [ngClass]="{
              'bg-base-100': $index % 2 == 0,
              'bg-base-200': $index % 2 == 1
            }"
            class="sticky left-0"
          >
            {{ unit.name }}
          </td>
          <td>{{ unit.symbol }}</td>
          <td class="flex items-center gap-2">
            <button
              (click)="openForm(unit)"
              class="btn btn-ghost text-success rounded-full tooltip"
              data-tip="Actulizar"
            >
              <i class="bx bxs-edit-alt"></i>
            </button>
            <button
              (click)="remove(unit)"
              class="btn btn-ghost text-error rounded-full tooltip"
              data-tip="Eliminar"
            >
              <i class="bx bxs-trash"></i>
            </button>
          </td>
        </tr>
      } @empty {
        <p>No hay unidades...</p>
      }
    </tbody>
  </table>
</div>
<!-- *************************************** -->
<!-- ******** Table *********************** -->
<!-- *************************************** -->
