<div class="join">
  <!-- Formulario Reactivo -->
  <form [formGroup]="form" class="w-full">
    @switch (filter.getRawValue()) {
      @case ("barCode") {
        <input
          formControlName="barCode"
          class="input-sm input input-bordered join-item select-primary w-full"
          placeholder="Buscar por bar code"
          type="number"
        />
      }
      @case ("price") {
        <input
          formControlName="price"
          class="input-sm input input-bordered join-item select-primary w-full"
          placeholder="Burcar por precio"
          type="number"
        />
      }
      @case ("name") {
        <input
          formControlName="name"
          type="text"
          class="input-sm input input-bordered join-item select-primary w-full"
          placeholder="Buscar por nombre"
        />
      }
      @case ("stock") {
        <input
          formControlName="stock"
          type="number"
          class="input-sm input input-bordered join-item select-primary w-full"
          placeholder="Buscar por nombre"
        />
      }
    }
  </form>
  <select
    [formControl]="filter"
    class="select select-bordered join-item select-primary select-sm"
  >
    <option disabled selected>Filter</option>
    <option [value]="'barCode'">BarCode</option>
    <option [value]="'name'">Nombre</option>
    <option [value]="'price'">Precio</option>
  </select>
  <div class="indicator">
    <button (click)="clear()" class="btn btn-primary join-item btn-sm">
      Reiniciar
    </button>
  </div>
</div>
