<admin-title title="Marcas" (onClick)="openForm()">
  <label
    class="input input-bordered flex items-center gap-2 input-primary input-sm"
  >
    <input
      [formControl]="nameFilter"
      type="text"
      class="grow"
      placeholder="Search"
    />
    <i class="bx bx-search-alt-2"></i>
  </label>
</admin-title>

<!-- *************************************** -->
<!-- ******** Table *********************** -->
<!-- *************************************** -->
<div class="overflow-x-auto">
  <table class="table table-zebra">
    <!-- head -->
    <thead class="sticky top-0">
      <tr>
        <th></th>
        <th class="sticky left-0 bg-base-100">Nombre</th>
        <th>Descripcion</th>
        <th>Imagen</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <!-- row 1 -->
      @for (brand of brandStore.filterBrands(); track $index) {
        <tr>
          <th>{{ $index + 1 }}</th>
          <td
            [ngClass]="{
              'bg-base-100': $index % 2 == 0,
              'bg-base-200': $index % 2 == 1
            }"
            class="sticky left-0"
          >
            {{ brand.name }}
          </td>
          <td>{{ brand.description }}</td>
          <td>
            <img [src]="brand.image" width="50" alt="image" />
          </td>
          <!-- Acciones -->
          <td class="flex items-center gap-2">
            <button
              (click)="openForm(brand)"
              class="btn btn-ghost text-success rounded-full tooltip"
              data-tip="Actulizar"
            >
              <i class="bx bxs-edit-alt"></i>
            </button>
            <button
              (click)="remove(brand)"
              class="btn btn-ghost text-error rounded-full tooltip"
              data-tip="Eliminar"
            >
              <i class="bx bxs-trash"></i>
            </button>
          </td>
        </tr>
      } @empty {
        <p>No hay brands...</p>
      }
    </tbody>
  </table>
</div>
<!-- *************************************** -->
<!-- ******** Table *********************** -->
<!-- *************************************** -->

<!-- <app-pagination
  [totalRegistros]="this.brandState().totalRegistros"
  [(pagination)]="pagination"
  (onChangePage)="changePage()"
/> -->
