<div class="bg-base-300 h-screen absolute right-0 w-96 md:w-[700px]">
  <button
    (click)="dialogRef.close(false)"
    class="absolute top-2 right-5 btn btn-ghost text-primary z-50"
  >
    <i class="bx bx-window-close text-xl"></i>
  </button>
  <div class="bg-base-200 p-5 sticky top-0">
    <h3 class="text-xl">{{ data ? "Actulizar Marca" : "Crear Marca" }}</h3>
  </div>

  <!-- Formulario -->
  <div class="p-5 h-[calc(100vh_-_156px)] bg-base-100">
    <form [formGroup]="form" class="space-y-1">
      <!-- Input Nombre -->
      <label class="form-control w-full">
        <div class="label">
          <span class="label-text">Dinero Inicial</span>
        </div>
        <input
          formControlName="initialCash"
          type="number"
          placeholder="Type here"
          class="input input-bordered w-full input-primary"
        />
        @if (initialCash.invalid && initialCash.touched) {
          @for (error of initialCash.errors | keyvalue; track $index) {
            <span class="label-text text-error font-bold">{{
              error | formerror: { minl: 3 }
            }}</span>
          }
        }
      </label>
    </form>
    <!-- Input File -->
  </div>
  <div footer class="flex justify-end gap-4 p-5 bg-base-200 sticky bottom-0">
    <button (click)="dialogRef.close(false)" class="btn btn-outline btn-error">
      Cancelar
    </button>
    <button (click)="handleForm()" class="btn btn-primary">
      Guardar Cambios
    </button>
  </div>
</div>
