<admin-title title="Dashboard" [showButton]="false" />

<div class="stats shadow w-full flex bg-base-300 flex-wrap">
  <div class="stat place-items-center w-full md:w-3/12">
    <div class="stat-figure text-primary">
      <i class="bx bxs-purchase-tag-alt text-2xl"></i>
    </div>

    <div class="stat-title">Costo en ventas inventario</div>
    <div class="stat-value">
      {{ stadistics().totalInventoryCost | currency: "S/" : "symbol-narrow" }}
    </div>
  </div>

  <div class="stat place-items-center w-full md:w-3/12">
    <div class="stat-figure text-primary">
      <i class="bx bxs-purchase-tag-alt text-2xl"></i>
    </div>
    <div class="stat-title">Costo de Inventario</div>
    <div class="stat-value">
      {{ stadistics().totalInventoryPrice | currency: "S/" : "symbol-narrow" }}
    </div>
  </div>

  <div class="stat place-items-center w-full md:w-3/12">
    <div class="stat-figure text-primary">
      <i class="bx bxl-product-hunt text-2xl" style="color: #ffffff"></i>
    </div>
    <div class="stat-title">Productos</div>
    <div class="stat-value">{{ stadistics().totalProducts }}</div>
  </div>

  <div class="stat place-items-center w-full md:w-3/12">
    <div class="stat-figure text-primary">
      <i class="bx bx-customize text-2xl" style="color: #ffffff"></i>
    </div>
    <div class="stat-title">Ventas</div>
    <div class="stat-value">
      {{ stadistics().totalSalesPrice | currency: "S/" : "symbol-narrow" }}
    </div>
  </div>
</div>

<!-- Graficos -->
<div class="flex gap-3 items-start flex-wrap md:flex-nowrap">
  <div class="w-full h-[500px] mt-5 card bg-base-300 p-10">
    <canvas #selledByDayChart></canvas>
  </div>
  <div class="w-full md:w-[700px] h-[500px] mt-5 card bg-base-300 p-10">
    <canvas #mostSelledChart></canvas>
  </div>
</div>

<!-- Tablas -->
<div class="flex flex-col md:flex-row gap-3 mt-5">
  <app-table-least-sol-products
    class="w-full"
    [leastSoldProducts]="leastSoldProducts()"
  />

  <app-table-products-low-stock
    class="w-full"
    [productsLowStock]="productsLowStock()"
  />

  <app-table-top-sales class="w-full" [topSales]="topSales()" />
</div>
