<div class="flex justify-between items-start mt-7">
  <button class="btn btn-outline btn-info" (click)="location.back()">
    Atras
  </button>

  <button class="btn btn-outline btn-info" (click)="openNewEgreso()">
    Nuevo Egreso
  </button>
</div>
<p class="mt-5">{{ total() }}</p>

<!-- ******** Table *********************** -->
<!-- *************************************** -->
<div class="overflow-x-auto">
  <table class="table table-zebra">
    <!-- head -->
    <thead class="sticky top-0">
      <tr>
        <th></th>
        <th class="sticky left-0 bg-base-100">Nombre</th>
        <th>Fecha</th>
        <th>Dinero</th>
        <th>Egreso</th>
      </tr>
    </thead>
    <tbody>
      <!-- row 1 -->
      @for (egreso of egresos(); track $index) {
        <tr>
          <th>{{ $index + 1 }}</th>
          <td class="sticky left-0">
            {{ egreso.name }}
          </td>
          <td>
            <span>{{ egreso.createDate | date: "dd MMMM yyyy" }}</span>
          </td>
          <td>
            {{ egreso.monto | currency: "Symbol" : "s/ " }}
          </td>
          <td>
            <span
              class="badge"
              [ngClass]="{
                'badge-error': egreso.egreso === 2,
                'badge-primary': egreso.egreso === 1
              }"
            >
              {{ egreso.egreso === 1 ? "Ingreso" : "Gasto" }}
            </span>
          </td>

          <!-- Acciones -->
          <!-- <td class="flex items-center gap-2">
            <button
              (click)="openUpdate(cashRe)"
              class="btn btn-ghost text-success rounded-full tooltip"
              data-tip="Actulizar"
            >
              <i class="bx bxs-edit-alt"></i>
            </button>
            <button
              (click)="openCashRegister(cashRe)"
              class="btn btn-ghost text-secondary rounded-full tooltip"
              data-tip="Abrir Caja"
            >
              <i class="bx bxs-lock-open"></i>
            </button>
            <button
              [routerLink]="[cashRe.id]"
              class="btn btn-ghost text-info rounded-full tooltip"
              data-tip="Abrir Caja"
            >
              <i class="bx bxs-lock-open"></i>
            </button>
          </td> -->
        </tr>
      } @empty {
        <p>No hay brands...</p>
      }
    </tbody>
  </table>
</div>
<!-- *************************************** -->
<!-- ******** Table *********************** -->
<!-- *************************************** -->
