<div class="card bg-base-300 p-3 w-full">
  <div class="leading-3">
    <div class="flex flex-col justify-between">
      <!-- contenido -->
      <span class="font-bold">{{ product().name | uppercase }}</span>
      <span class="text-sm">
        Stock: {{ product().stock }} {{ product().unitMeasurement }}(s)
      </span>
      <div class="flex items-start justify-between">
        <span class="text-sm">
          {{
            product().salePrice | currency: "S/ " : "symbol-narrow" : "1.2-2"
          }}
          x {{ product().unitMeasurement }}
        </span>

        <!-- Cantidad -->
        <form class="join">
          <input
            [formControl]="quantity"
            [ngClass]="{
              'input-error': quantity.getError('required') && quantity.touched
            }"
            type="number"
            class="input-sm input input-bordered join-item input-secondary w-20"
            placeholder="Cantidad Ejemplo 12.5"
          />
          <button
            (click)="handleAddPostItem($event)"
            class="btn btn-sm btn-secondary join-item"
          >
            +
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
